$max-width: 1200px;


$blue: rgb(18, 113, 255);
$purple-lt: rgb(221, 74, 255);
$blue-lt: rgb(100, 220, 255);
$red: rgb(200, 50, 50);
$yellow: rgb(180, 180, 50);
$gray-lt: rgb(248, 248, 248);

@mixin breakpoint-mobile{
    @media all and (max-width: 860px){
        @content;
    }
}