@mixin blend-hard {
  mix-blend-mode: hard-light;
}

// $white: rgb(234, 234, 234);
// $white-lt: rgb(205, 206, 255);
// $red: rgb(176, 51, 51);
// $red-lt: rgb(251, 130, 130);
// $purple: rgb(101, 28, 101);
// $purple-lt: rgb(180, 86, 180);
// $blue: rgb(0, 0, 162);
// $blue-lt: rgb(91, 91, 179);
// $yellow: rgb(255, 255, 0);
// $yellow-lt: rgb(255, 255, 161);


$blue: rgb(18, 113, 255);
$purple-lt: rgb(221, 74, 255);
$blue-lt: rgb(100, 220, 255);
$red: rgb(200, 50, 50);
$yellow: rgb(180, 180, 50);

$bubble-size: 40rem;

$container-height: 30rem;
$container-width: 60rem;

.container {
  width: $container-width;
  height: $container-height;
  // border: solid 1px black;
  border-radius: 1rem;
  background-image: linear-gradient(45deg, lightblue, blue);
  background-size: 400%;
  background-position: center;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;

  h2{
    color: white;
    padding: 2rem;
  }
}

.b1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($blue, 0.8),
      rgba($blue, 0) 30%
    )
    no-repeat;
  @include blend-hard();


  height: $bubble-size;
  width: $bubble-size;
  top: -5rem;
  left: calc($container-width / 5);

  // height: $bubble-size;
  // width: $bubble-size;
  // top: calc($container-height * -.2);
  // left: calc((100% - $bubble-size) / 2 + calc($container-width * .1));
  
  transform-origin: center center;
  animation: moveInCircleLg 20s reverse linear infinite;

  // opacity: 1;
}

.b2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($purple-lt, 0.8) 0,
      rgba($purple-lt, 0) 40%
    )
    no-repeat;
  @include blend-hard();

  height: $bubble-size;
  width: $bubble-size;
  top: 0;
  left: calc($container-width / 3);

  transform-origin: calc(50% + calc($container-height * .2));
  animation: moveInCircleMd 20s linear infinite;

  opacity: 1;
}

.b3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($blue-lt, 0.8) 0,
      rgba($blue-lt, 0) 40%
    )
    no-repeat;
  @include blend-hard();

  height: $bubble-size;
  width: $bubble-size;

  top: -8rem;
  right: calc($container-width / 3);
  animation: moveInCircleMd 20s linear infinite;

  opacity: 1;
}

.b4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($red, 0.8) 0,
      rgba($red, 0) 30%
    )
    no-repeat;
  @include blend-hard();

  height: $bubble-size;
  width: $bubble-size;
  top: 1rem;
  left: 10rem;

  // transform-origin: calc(50% + calc($container-height * .2));
  animation: moveInCircleMd 30s linear infinite;

  opacity: 1;
}

.b5 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($yellow, 0.8) 0,
      rgba($yellow, 0) 40%
    )
    no-repeat;
  @include blend-hard();

  height: $bubble-size;
  width: $bubble-size;
  top: 0;
  left: 0;

  // transform-origin: calc(50% - 100px);
  animation: moveInCircleMd 20s reverse linear infinite;

  opacity: 1;
}


@keyframes moveVertical {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-20%) translateY(-10%);
  }
  50% {
    transform: translateX(20%) translateY(10%);
  }
  100% {
    transform: translateX(-20%) translateY(-10%);
  }
}

@keyframes diagonalDownRight{
  0%{
    transform: translateX(-20%) translateY(20%);
  }

  50%{
    transform: translateX(20%) translateY(-20%);
  }

  100%{
    transform: translateX(-20%) translateY(20%);
  }
}

@keyframes moveInCircleSm {
  from {  -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@keyframes moveInCircleMd {
  from {  -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes moveInCircleLg {
  from {  -webkit-transform: rotate(0deg) translateX(70px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(70px) rotate(-360deg); }
}