@mixin blend-hard {
  mix-blend-mode: hard-light;
}

// $white: rgb(234, 234, 234);
// $white-lt: rgb(205, 206, 255);
// $red: rgb(176, 51, 51);
// $red-lt: rgb(251, 130, 130);
// $purple: rgb(101, 28, 101);
// $purple-lt: rgb(180, 86, 180);
// $blue: rgb(0, 0, 162);
// $blue-lt: rgb(91, 91, 179);
// $yellow: rgb(255, 255, 0);
// $yellow-lt: rgb(255, 255, 161);


$blue: rgb(18, 113, 255);
$purple-lt: rgb(221, 74, 255);
$blue-lt: rgb(100, 220, 255);
$red: rgb(200, 50, 50);
$yellow: rgb(180, 180, 50);

$bubble-size: 100%;

$container-height: 30rem;
$container-width: 30rem;

.container {
  width: $container-width;
  height: $container-height;
  border: solid 1px black;
  border-radius: 1rem;
  background-image: linear-gradient(45deg, lightblue, blue);
  background-size: 400%;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.b1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($blue, 0.8),
      rgba($blue, 0) 50%
    )
    no-repeat;
  @include blend-hard();

  height: $bubble-size;
  width: $bubble-size;
  top: calc($container-height * -.2);
  left: calc((100% - $bubble-size) / 2 + calc($container-width * .1));
  
  transform-origin: calc(50% + calc($container-height * .2));
  animation: moveInCircle 20s linear infinite;

  opacity: 1;
}

.b2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($purple-lt, 0.8) 0,
      rgba($purple-lt, 0) 50%
    )
    no-repeat;
  @include blend-hard();

  height: $bubble-size;
  width: $bubble-size;
  top: 0;
  left: -25%;

  transform-origin: calc(50% + calc($container-height * .2));
  animation: moveInCircle 20s linear infinite;

  opacity: 1;
}

.b3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($blue-lt, 0.8) 0,
      rgba($blue-lt, 0) 50%
    )
    no-repeat;
  @include blend-hard();

  height: $bubble-size;
  width: $bubble-size;
  top: calc((50% - $bubble-size) / 2 - calc($container-height * .4));
  left: calc((50% - $bubble-size) / 2);

  transform-origin: calc(50% - calc($container-height * .1));
  animation: moveHorizontal 40s linear infinite;

  opacity: 1;
}

.b4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($red, 0.8) 0,
      rgba($red, 0) 50%
    )
    no-repeat;
  @include blend-hard();

  height: $bubble-size;
  width: $bubble-size;
  top: calc((50% - $bubble-size) / 2 - calc($container-height * .1));
  left: calc((50% - $bubble-size) / 2);

  transform-origin: calc(50% + calc($container-height * .2));
  animation: moveVertical 20s ease infinite;

  opacity: 1;
}

.b5 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($yellow, 0.8) 0,
      rgba($yellow, 0) 50%
    )
    no-repeat;
  @include blend-hard();

  height: $bubble-size;
  width: $bubble-size;
  top: calc((50% - $bubble-size) / 2 + calc($container-height * .4));
  left: calc((50% - $bubble-size) / 2 - calc($container-width * .4));

  transform-origin: calc(50% - 100px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 1;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}