.calendar{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: none;

}

.container{
    transition: all .5s;
    max-height: 0;
    overflow: hidden;
}

.display{
    max-height: 300rem;
}